venv/
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints

Datasets/processed
Figures
Evaluation/model_comparison_results.csv
Evaluation/xgboost_best_model.pkl
Evaluation/xgboost_trained_model.pkl
Interface/dist
gui.spec
build